@model IEnumerable<Teacher>

@{
    ViewData["Title"] = "Admin Page";
}

@* <div class="text-center">
    <h5>Hello, @User.Identity.Name!</h5>
</div> *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInfo.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInfo.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)           
            </th>
            <th>
                <a>Delete</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelTeacher => teacher.PersonalInfo.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelTeacher => teacher.PersonalInfo.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelTeacher => teacher.PersonalInfo.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelTeacher => teacher.Subject)
                </td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteTeacher" method="post">
                        <input type="hidden" value="@teacher.TeacherId" name="id" />
                        <input type="submit" asp-action="DeleteTeacher" value="X" class="btn btn-outline-danger" />
                    </form>      
                    @* @await Html.PartialAsync("_ModalDeleteTeacherPartial", teacher) *@
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-controller="Admin" asp-action="CreateTeacher" class="btn btn-primary">Add Teacher</a>
